.bgvideo {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgvideo video{
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
}

.video_text{
    color: rgb(0, 0, 0);
    z-index: 2;
}
